<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button 
                mat-icon-button
                (click)="sidenav.toggle()"
            >
                <mat-icon class="material-icons-round">
                    menu
                </mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item 
                routerLink="./listado"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon class="material-icons-round">label</mat-icon>
                Listado de Heroes
            </mat-list-item>
            <mat-list-item 
                routerLink="./agregar"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon class="material-icons-round">add</mat-icon>
                Añadir Heroe
            </mat-list-item>
            <mat-list-item 
                routerLink="./buscar"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon class="material-icons-round">search</mat-icon>
                Buscar Heroe
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()" class="material-icons-round">
            <mat-icon class="material-icons-round">menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button>
            Logout
        </button>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>